.burger-menu {
  background: #ffffff;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: none;
  flex-direction: column;
  font-family: "Inter", "Arial", sans-serif;
  position: fixed;
  left: 0%;
  top: 0%;
}


@media screen and (min-width: 768px) {
  .burger-menu {
    background: linear-gradient(to left, #ffffff 70%, rgba(0, 0, 0, .3) 70%);
  }
}

.burger-menu__btn-close {
  width: 22px;
  height: 22px;
  display: flex;
  align-self: flex-end;
  margin: 18px 18px 0 0;
}

.burger-menu__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .burger-menu__container {
    margin: 105px 25% 0 0;
    width: fit-content;
    align-self: flex-end;
  }
}

.burger-menu__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  width: fit-content;
  text-align: center;
  text-decoration: none;
  padding-bottom: 7px;
  display: flex;
  margin: auto;
  color: #000000;
}

.burger-menu__btn:last-child {
  margin-top: 45vh;
}

.burger-menu__btn-focus:focus {
  border-bottom: 2px solid #000000;
}

.burger-menu__btn-account {
  text-decoration: none;
  background: #f9f9f9;
  border-radius: 20px;
  padding: 8px 20px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .burger-menu__btn-account {
    width: fit-content;
    align-self: flex-end;
  }
}

.burger-menu__open {
  display: flex;
}